env_php/
laradock/

# Directorios y archivos a omitir del curso del Desarrollo de un Ecommerce con Laravel y Vue
e-commerce/node_modules
e-commerce/public/hot
e-commerce/public/storage
e-commerce/storage/*.key
e-commerce/vendor
e-commerce/.idea
e-commerce/.vscode
e-commerce/.vagrant
e-commerce/Homestead.json
e-commerce/Homestead.yaml
e-commerce/npm-debug.log
e-commerce/yarn-error.log
e-commerce/.env
e-commerce/.phpunit.result.cache

# Directorios y archivos a omitir del curso de pruebas unitarias
testing/vendor
testing/.idea

# Directorios y archivos a omitir del curso de SPA con Inertia
inertiaspa/.idea
inertiaspa/node_modules
inertiaspa/vendor
inertiaspa/.env

# Directorios y archivos a omitir del curso Testing con PHP y Laravel
l8unit/.idea
l8unit/node_modules
l8unit/vendor
l8unit/.env

# Directorios y archivos a omitir del curso API REST con Laravel
l8api/.idea
l8api/node_modules
l8api/vendor
l8api/.env

# Directorios y archivos a omitir del curso Laravel Avanzado
ladvanced/.idea
ladvanced/node_modules
ladvanced/vendor
ladvanced/.env

# Directorios y archivos a omitir del curso Laravel TDD
l8tdd/.idea
l8tdd/node_modules
l8tdd/vendor
l8tdd/.env